{% extends "base.html" %} {% block title %} {{ page }} {% endblock %}
{% load favextras %}
{% block contant %}
<div class="container py-3 my-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb px-0 bg-transparent font-weight-medium mb-0">
      <li class="breadcrumb-item d-flex align-items-center">
        <a href="{% url 'home' %}" class="text-muted">Dashboard</a>
        <svg xmlns="http://www.w3.org/2000/svg" class="fill-current width-3 height-3 mx-3 text-muted"
          viewBox="0 0 7.41 12">
          <path d="M0,1.41,4.58,6,0,10.59,1.41,12l6-6-6-6Z"></path>
        </svg>
      </li>
      <li class="breadcrumb-item active text-dark">{{ page }}</li>
    </ol>
  </nav>

  <div class="d-flex">
    <div class="flex-grow-1">
      <h2 class="mb-3 d-inline-block">{{ page }}</h2>
    </div>
  </div>
  <div class="card border-0 shadow-sm my-3">
    <div class="card-body">
      <form action="" method="GET" autocomplete="off">
        <div class="row">
          <div class="col-12">
            <div class="form-row single-link d-none d-flex">
              <div class="col-12 col-md">
                <div>
                  <div class="input-group input-group-lg">
                    <input type="search" value="{{ request.GET.search }}" name="search"
                      class="form-control font-size-lg" autocapitalize="none" placeholder="Search Offers"
                      autofocus="" />
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-auto">
                <button class="btn btn-primary btn-lg btn-block font-size-lg mt-3 mt-md-0" type="submit">Search</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div>
    {% if request.GET.search %}
    {% if not data.estimated_total == 0 %}
    <div class="card border-0 shadow-sm">
      <div class="card-header align-items-center">
        <div class="row">
          <div class="col">
            <div class="font-weight-medium py-1">{{ page }}</div>
          </div>
          <div class="col-auto">
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="list-group list-group-flush my-n3">
          <div class="list-group-item px-0 text-muted">
            <div class="row align-items-center">
              <div class="col">
                <div class="row">
                  <div class="col-12 col-lg-2">Image</div>
                  <div class="col-12 col-lg-4">Title</div>
                  <div class="col-12 col-lg-3 text-left ">Price Info</div>
                  <div class="col-12 col-lg-3">Shop Name</div>
                </div>
              </div>
              <div class="col-auto">
                <div class="btn btn-outline-primary btn-sm invisible">Edit</div>
              </div>
            </div>
          </div>
          {% for i in data.items %}
          <div class="list-group-item px-0">
            <div class="row align-items-center">
              <div class="col text-truncate">
                <div class="row text-truncate pt-3">
                  <div class="col-12 col-lg-2 d-flez align-items-center text-tryncate">
                    <div class="d-inline-block mr-3">
                      <img src="{{ i.main_image }}" alt="" height="100px" width="100px" />
                    </div>
                  </div>
                  <div class="col-12 col-lg-4 d-flex align-items-center text-truncate">
                    <a href="" class="text-truncate">{{ i.name }}</a>
                  </div>
                  <div class="col-12 col-lg-3 d-flex align-items-center text-truncate">
                    {{ i.price_info.price.amount|intToFloat }} {{ i.price_info.price.currency }}
                  </div>
                  <div class=" col-12 col-lg-3 text-truncate d-flex align-items-center">
                    {{ i.shop.name }}
                  </div>
                </div>
              </div>
              <div class="col-auto">
                {% if not i.id|checkId %}
                <form method="POST">
                  {% csrf_token %}
                  <input type="hidden" value="{{ i.id }}" name="Favourite">
                  <input type="hidden" value="{{ request.path }}" name="path">
                  <input class="btn btn-primary btn-sm" type="submit" value="Favorite">
                </form>
                {% else %}
                <form method="POST">
                  {% csrf_token %}
                  <input type="hidden" value="{{ i.id }}" name="Remove">
                  <input type="hidden" value="{{ request.path }}" name="path">
                  <input class="btn btn-danger btn-sm" type="submit" value="Remove">
                </form>
                {% endif %}
              </div>
            </div>
          </div>

          {% endfor %}
          <div class="mt-3 align-items-center">
            <div class="row">
              <div class="col">
              </div>
              <div class="col-auto">
                {% if data.items %}
                <nav class="d-block d-md-none">
                  <ul class="pagination">
                    {% if data.prev %}
                    <li class="page-item" aria-disabled="true">
                      <a class="page-link" href="?search={{ request.GET.search }}&offset={{ data.offset|prevPage }}"
                        rel="next" aria-label="Next »">« Previous
                      </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled" aria-disabled="false">
                      <a class="page-link" rel="next" aria-label="Next »">« Previous
                      </a>
                    </li>
                    {% endif %}
                    {% if data.next %}
                    <li class="page-item" aria-disabled="true">
                      <a class="page-link" href='?search={{ request.GET.search }}&offset={{ data.offset|nextPage }}'
                        rel="next" aria-label="Next »">Next »
                      </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled" aria-disabled="false">
                      <a class="page-link" rel="next" aria-label="Next »">Next »
                      </a>
                    </li>
                    {% endif %}
                  </ul>
                </nav>
                {% endif %}
                <nav class="d-none d-md-block">
                  {% if data.items %}
                  <nav class="d-none d-md-block">
                    <ul class="pagination">
                      {% if data.prev %}
                      <li class="page-item" aria-label="« Previous">
                        <a class="page-link" href="?search={{ request.GET.search }}&offset={{ data.offset|prevPage }}"
                          rel="next" aria-label="Next »">‹ Previous
                        </a>
                      </li>
                      {% else %}
                      <li class="page-item disabled" aria-disabled="true" aria-label="« Previous">
                        <span class="page-link">‹ Previous</span>
                      </li>
                      {% endif %}
                      {% if data.next %}
                      <li class="page-item">
                        <a class="page-link" href="?search={{ request.GET.search }}&offset={{ data.offset|nextPage }}"
                          rel="next" aria-label="Next »">Next ›
                        </a>
                      </li>
                      {% else %}
                      <li class="page-item disabled" aria-disabled="true" aria-label="Next »">
                        <span class="page-link">Next ›</span>
                      </li>
                      {% endif %}
                    </ul>
                  </nav>
                  {% endif %}
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
      </div>
    </div>
    {% else %}
    <h4 class="text-center text-danger">Sorry, no data was found!</h4>
    {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}