{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %} {{ page }} {% endblock %}
{% block contant %}
<div class="container py-3 my-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb px-0 bg-transparent font-weight-medium mb-0">
      <li class="breadcrumb-item d-flex align-items-center">
        <a
          href="{% url 'home' %}"
          class="text-muted"
          >Dashboard</a
        >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="fill-current width-3 height-3 mx-3 text-muted"
          viewBox="0 0 7.41 12">
          <path d="M0,1.41,4.58,6,0,10.59,1.41,12l6-6-6-6Z"></path>
        </svg>
      </li>
      <li class="breadcrumb-item d-flex align-items-center">
        <a href="{% url 'users-list' %}" class="text-muted"
          >{{ page }}</a
        >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="fill-current width-3 height-3 mx-3 text-muted"
          viewBox="0 0 7.41 12"
        >
          <path d="M0,1.41,4.58,6,0,10.59,1.41,12l6-6-6-6Z"></path>
        </svg>
      </li>
      <li class="breadcrumb-item active text-dark">New</li>
    </ol>
  </nav>

  <h2 class="mb-3 d-inline-block">New</h2>

  <div class="card border-0 shadow-sm">
    <div class="card-header">
      <div class="font-weight-medium py-1">{{ page }}</div>
    </div>
    <div class="card-body">
      <form
        method="POST"
        id="registration-form">
        {% include "include/form_error.html" %}
          {% csrf_token %}
        <div class="form-group">
          <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>{% if form.name.errors %} <small class="text-danger">*</small> {% endif %}
            {% render_field form.name class="form-control" %}
        </div>
        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label> {% if form.email.errors %} <small class="text-danger">*</small> {% endif %}
            {% render_field form.email class="form-control" %}
        </div>
      {% if request.path in "/accounts/create" %}
        <div class="form-group">
          <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>{% if form.password1.errors %} <small class="text-danger">*</small> {% endif %}
            {% render_field form.password1 class="form-control" %}
        </div>
        <div class="form-group">
          <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>{% if form.password2.errors %} <small class="text-danger">*</small> {% endif %}
            {% render_field form.password2 class="form-control" %}
        </div>
      {% endif %}
          <div class="row">
          <div class="col-md-6">
        <div class="form-group">
          <label for="{{ form.is_active.id_for_label }}">{{ form.is_active.label }}</label>{% if form.is_active.errors %} <small class="text-danger">*</small> {% endif %}
            {% render_field form.is_active class="form-control-md" %}
        </div>
          </div>
          <div class="col-md-6">
        <div class="form-group">
          <label for="{{ form.is_superuser.id_for_label }}">{{ form.is_superuser.label }}</label>{% if form.is_superuser.errors %} <small class="text-danger">*</small> {% endif %}
            {% render_field form.is_superuser class="form-control-md" %}
        </div>
              </div>
              </div>
          <div class="col text-right">
            <button type="submit" name="submit" class="btn btn-primary">
              Save
            </button>
          </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
