{% extends 'userpanel/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
Forgot Password
{% endblock %}
{% block contact %}
    <div class="container">
    <div class="row">
                        <div class="col-md-6 p-4 text-center" >
                            <img width="300" src="{% static 'img/logo_light.png' %}" class="pt-4 img-user" />
                        </div>
                        <div class="col-md-6 text-white">
                            <h2 class="text-white text-center pt-4">Password Reset Complete</h2>
                            <p class="p-3">
                                Your password has been set. You may go ahead and<b><br> <a href="{% url 'user_login' %}">Login</a></b> now.</p>
                          </p>
                        </div>
    </div>
                    </div>
{% endblock %}