{% extends 'userpanel/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
Forgot Password
{% endblock %}
{% block contact %}
    <div class="container">
    <div class="row">
                        <div class="col-md-6 p-4 text-center" >
                            <img width="300" src="{% static 'img/logo_light.png' %}" class="pt-4 img-user" />
                        </div>
                        <div class="col-md-6">
                            <h2 class="text-white text-center pt-4">Forget Password</h2>
                            <form method="POST">
                                {% csrf_token %}
                                {% include 'include/form_error.html' %}
                                <div class="" style="padding-top: 3%" >
                                    <div class="">
                                        <div class="input-group field-size text-center">
                                            <div class="input-group-prepend">
                                                <button class="btn bg-white btn-pirmary button-color" type="button"><i style="color: gray" class="far fa-envelope"></i>  </button>
                                            </div>
                                            {% render_field  form.new_password1 aria-describedby="basic-addon1" class="form-control field-background shadow-none focus-1" placeholder="New Password" %}
                                        </div>
                                    </div>
                                </div>
                                <div class="" style="padding-top: 3%" >
                                    <div class="">
                                        <div class="input-group field-size text-center">
                                            <div class="input-group-prepend">
                                                <button class="btn bg-white btn-pirmary button-color" type="button"><i style="color: gray" class="far fa-envelope"></i>  </button>
                                            </div>
                                            {% render_field  form.new_password2 aria-describedby="basic-addon1" class="form-control field-background shadow-none focus-1" placeholder="Confirm Password" %}
                                        </div>
                                    </div>
                                </div>
                            <div class="col-md-12 pt-5 mt-4">
                            <div class="col text-center">
                                <button type="submit" class="btn btn-dark" style='border-radius: 50px ; background-color: #11161d; border-color: lightgray'>
                                    <h5 class="m-auto pl-4 pr-4 pb-1" >Forgot Password</h5>
                                </button>
                            </div>

                            <div class="col text-center pl-3 pt-3">
                                <h6 style= 'color: white'><a href="{% url 'user_singup' %}" style='color: white'><b>Create Account</b></a> </h6>
                            </div>
                        </div>
                                </form>
                        </div>
    </div>
                    </div>
{% endblock %}