{% extends 'userpanel/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
Forgot Password
{% endblock %}
{% block contact %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center" >
                <img width="300" src="{% static 'img/logo_light.png' %}" class="pt-4 img-user" />
            </div>
            <div class="col-md-8 py-5">
                <h2 class="text-white text-center pt-2 pb-2">Forget Password</h2>
                <form method="POST" action="#">
                    {% csrf_token %}
                    {% include 'include/form_error.html' %}
                    <div class="">
                        <div class="input-group field-size text-center">
                            <div class="input-group-prepend">
                                <button class="btn bg-white btn-pirmary button-color" type="button"><i style="color: gray" class="far fa-envelope"></i>  </button>
                            </div>
                            <input type="email" name="email" class="form-control field-background shadow-none focus-1" placeholder="Email" />
                        </div>
                    </div>
                    <div class="col-md-12 mt-4">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-dark" style='border-radius: 50px ; background-color: #11161d; border-color: lightgray'>
                                <h5 class="m-auto p-1" >Forgot Password</h5>
                            </button>
                        </div>
                        <div class="col text-center pt-4 pb-5">
                            <h6 style= 'color: white'><a href="{% url 'user_singup' %}" style='color: white'><b>Create Account</b></a> </h6>
                        </div>
                    </div>
                </form>
                        </div>
    </div>
                    </div>
{% endblock %}
