{% extends 'publicarea/base.html' %}

{% block seotags %}
    <title>About Us</title>
    <meta name="robots" content="noindex,nofollow" />
    
{% endblock %}
{% block styles %}
    <style>
    .background-gradiant-1 {
        background-color: black;
    }
    .background-chnge-1 {
        background-color: #1f2833;
        border-radius: 20px;
    }
    </style>
{% endblock %}

{% block content %}
     <div class="col-sm-12 background-gradiant-1" style="overflow-X:hidden;">
        <div class="col-sm-12 background-learner" style="margin-top: 50px!important;">
            <div class="m-4">
                <div class="background-chnge-1 text-white">
                     <br/>
                    <h1 class='text-center pt-3 deals-text' style="color: white;margin-bottom: 20px;font-weight: 300"><b>Über Uns</b></h1>
                    <div class="col-sm-12" >
                        <div class='row mr-auto'>
                            <div class="col-sm-12 text-center mt-2">
                                <h5 style="color: white" class='text-justify'>
                                    Mit Gaming Deals verwirklichen wir die Leidenschaft und Suche nach günstigem Zubehör für dein Gaming Setup. Ganz gleich ob preiswertes oder High-End Gaming Zubehör: bei uns gibt es immer gute Angebote für Dein Gaming Zimmer. Neben den aktuellsten Gaming Deals gibt es auch Berichte über Gaming Zubehör. Also worauf wartest Du? Durstöbere die Angebot und finde was Du gerade suchst oder lass die von günstigen Angebote für Konsole, Desktop PC oder dein Mobile Gaming Zubehör inspirieren. Wir finden die besten Angebote für Dich damit Du dich auf das wichtigste konzentrieren kannst: Zocken! Also gleich mal einen Blick in die Top Deals werfen!
                                </h5>
                                 <br/>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div style="height: 50vh"></div>
        </div>
{% endblock %}


