{% extends 'publicarea/base.html' %}

{% block seotags %}
    <title>Contact Us</title>
    
    <meta name="robots" content="noindex,nofollow" />
    
{% endblock %}
{% block styles %}
    <style>
    .background-gradiant-1 {
        background-color: black;
    }
    .background-chnge-1 {
        background-color: #1f2833;
        border-radius: 20px;
    }
    </style>
{% endblock %}

{% block content %}
     <div class="col-sm-12 background-gradiant-1" style="overflow-X:hidden;">
        <div class="col-sm-12 background-learner" style="margin-top: 50px!important;">
            <div class="m-4">
                <div class="background-chnge-1 text-white" style="padding: 10px">
                    
                    <div class="col-sm-12 text-left pt-5">
                        <h3 class='text-white text-justify ' >Angaben nach § 5 TMG und DL-InfoV und § 55 RSTV</h3>
                    </div>
                    <div class="col-sm-12 text-left mt-2">
                        <h5 class='text-white text-justify'>
                            Gaming Deals ist eine Marke der
                            OverSeen GmbH<br />
                            Leopoldstr. 12<br />
                            76337 Waldbronn<br />
                            Tel: +49 7243 9391502<br />
                            E-Mail: info@over-seen.com<br />
                            HRB-Nr. 740611<br />
                            Registergericht: Mannheim<br />
                            USt.-IdNr.: DE 344760420<br />
                            Vertreten durch Geschäftsführer:
                            Florian Walter<br />

                            Verantwortlich für den Inhalt i.S.v. § 18 Abs.2 MStV:
                            Florian Walter <br />
                            Leopoldstr. 12<br />
                            76337 Waldbronn	<br />

                        </h5>
                    </div>
                    <div class="col-sm-12 text-left pt-5">
                        <h3 class='text-white  text-justify' >Hinweis</h3>
                    </div>
                    <div class="col-sm-12 text-left mt-2">
                        <h5 class='text-white text-justify'>
                            Für die Richtigkeit und Vollständigkeit der Angaben auf unseren Internetseiten können wir trotz aller Sorgfalt keine Haftung übernehmen. Die hier dargestellten Inhalte dienen der allgemeinen Information und ersetzen keine Beratung. Deshalb kann dafür auch keine Gewährleistung oder Haftung übernommen werden. Sämtliche Rechte an den Informationsseiten liegen bei der OverSeen GmbH. Eine über den privaten Gebrauch hinausgehende Nutzung der Webseiten, insbesondere die Wiedergabe und Vervielfältigung, ist ohne die vorherige schriftliche Genehmigung der OverSeen GmbH nicht gestattet.
                        </h5>
                    </div>
                    <div class="col-sm-12 text-left pt-5">
                        <h3 class='text-white text-justify' >Haftung für Inhalte</h3>
                    </div>
                    <div class="col-sm-12 text-left mt-2">
                        <h5 class='text-white text-justify'>
                            Wir sind gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Gemäß §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
                            Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen
                        </h5>
                    </div>
                    <div class="col-sm-12 text-left pt-5">
                        <h3 class='text-white text-justify' >Haftung für Links</h3>
                    </div>
                    <div class="col-sm-12 text-left mt-2">
                        <h5 class='text-white text-justify'>
                            Unser Angebot enthält Links zu externen Websites und Inhalten fremder Anbieter und Dritter, auf deren Inhalte wir keinen Einfluss haben. Daher können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich.
                            Durch das Setzen eines Links zu fremden Websites macht sich die OverSeen GmbH weder diese Website noch deren Inhalt zu Eigen. Ferner ist die OverSeen GmbH nicht verantwortlich für die Verfügbarkeit dieser Websites oder von deren Inhalten.
                            Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden diese Links umgehend entfernen
                        </h5>
                    </div>
                    <div class="col-sm-12 text-left pt-5">
                        <h3 class='text-white text-justify' >Urheberrecht</h3>
                    </div>
                    <div class="col-sm-12 text-left mt-2">
                        <h5 class='text-white text-justify'>
                            Die durch uns erstellten Inhalte und Werke, insbesondere Texte, Fotografien und Grafiken, auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nicht gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere kennzeichnen wir Inhalte Dritter als solche. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
                        </h5>
                    </div>
                    <div class="col-sm-12 text-left pt-5">
                        <h3 class='text-white text-justify' >Außergerichtliche Streitschlichtung</h3>
                    </div>
                    <div class="col-sm-12 text-left mt-2">
                        <h5 class='text-white text-justify'>
                            Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit:
                            <a href="https://ec.europa.eu/consumers/odr">https://ec.europa.eu/consumers/odr</a>. Unsere E-Mail-Adresse finden Sie oben im Impressum.
                        </h5>
                    </div>
                    <div class="col-sm-12 text-left pt-5">
                        <h3 class='text-white text-justify' >Hinweis gemäß § 36 Verbraucherstreitbeilegungsgesetz (VSBG)</h3>
                    </div>
                    <div class="col-sm-12 text-left mt-2">
                        <h5 class='text-white text-justify'>
                            Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.


                        </h5>
                    </div>
                    <div class="col-sm-12 text-left pt-5">
                        <h3 class='text-white text-justify' >Hinweis: Allgemeines Gleichbehandlungsgesetz (AGG):</h3>
                    </div>
                    <div class="col-sm-12 text-left mt-2">
                        <h5 class='text-white text-justify'>
                            Aus Gründen der leichteren Lesbarkeit verzichten wir auf eine geschlechterspezifische Differenzierung. Entsprechende Begriffe gelten im Sinne der Gleichbehandlung für beide Geschlechter.


                        </h5>
                    </div>
                    <div class="col-sm-12 text-left pt-5">
                        <h3 class='text-white text-justify' >Anwendbares Recht</h3>
                    </div>
                    <div class="col-sm-12 text-left mt-2">
                        <h5 class='text-white text-justify'>
                            Recht der Bundesrepublik Deutschland (BRD)
                        </h5>
                        <br/>
                    </div>
                     
                </div>
                </div>
            </div>
        </div>
{% endblock %}


