{% extends 'publicarea/base.html' %}
{% load static %}

{% block seotags %}
    <title>Categories Deal</title>
    <meta name="robots" content="noindex,nofollow" />
{% endblock %}

{% block styles %}
    <style>
    .background-gradiant-1 {
        background-image: linear-gradient(90deg,#000,#545454);
    }
    .background-chnge-1 {
        background-color: #1f2833;
        border-radius: 20px;
    }
    @media only screen and (max-width: 600px){
        .mobile-view-deals-card {
            margin-left: auto!important;
            margin-right: auto!important;
            display: block!important;
            margin-top: 15px;
        }}
    </style>
{% endblock %}

{% block content %}

    <div class="col-sm-12 background-gradiant-1 p-0" style="overflow-X:hidden">
            <div class="col-sm-12 background-learner" >
                <div class="m-4">
                    <div class="background-chnge-1 text-white">
                        <h1 class='text-center pt-3 deals-text' style="color: white;margin-bottom: 20px;font-weight: 300"><b>DEALS</b></h1>
                        <div class="col-sm-12" >
                            <div class='row mr-auto'>
                                {% for category in categories %}

                                        <div class="home-card-bg mobile-view-deals-card">
                                            <a class="text-decoration-none" href="{% url 'ProductsByCategory' %}?categories={{ category.id }}">
                                                <div>
                                                    {% if category.description == 'Fernseher' %}
                                                        <img class="" src="{% static 'img/publicarea/Fernseher.png' %}" alt="card image cap " />
                                                    {% elif category.description == 'Konsolen' %}
                                                        <img class="" src="{% static 'img/publicarea/Konsolen.png' %}" alt="card image cap " />
                                                    {% elif category.description == 'Gaming-Zubehör' %}
                                                        <img class="" src="{% static 'img/publicarea/GamingZubeh.png' %}" alt="card image cap " />
                                                    {% else %}
                                                        <img class="" src="{{ category.image_url }}" alt="card image cap " />
                                                    {% endif %}
                                                    <div class="text-center">
                                                        <h5 class="home-card-title" style="color: white;">{{ category.description }}</h5>
                                                        <a class="btn btn-dark card-details-btn" href="{% url 'ProductsByCategory' %}?categories={{ category.id }}" style="background-color: black; border: 1px solid white;">Zu den Deals</a>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}


